body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
    overflow: auto;
}

.parallax {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 1s ease-in-out;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 16px;
    color: #333;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

label {
    font-weight: bold;
}       

input, select {
    margin-bottom: 10px;
    padding: 8px;
    width: calc(30% - 18px);
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}       

.modelo {
    margin-bottom: 30px;
    position: relative;
}

.tabelaFipe {
    margin-top: 0px;
    padding: 0px;
    width: calc(130% - 18px);
    border-radius: 4px;
    box-sizing: border-box;
}

.usadoNaFipe {
    margin-top: 5px;
    padding: 0px;
    width: calc(80% - 18px);
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    margin-top: 0;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.remove-button {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

.remove-button:hover {
    background-color: #8b0000;
}

input[type="checkbox"], input[type="radio"] {
    width: auto;
}

#header {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#logo {
    top: 10px;
    left: 10px;
    width: 200px;
    height: auto;
}

#textoFinal {
    margin-top: 20px;
    white-space: pre-wrap;
    border-top: 1px solid #000;
    padding-top: 20px;
    max-width: 800px;
    margin-left: 0;
    margin-right: auto;
    text-align: justify;
}

.info-text {
    font-size: 0.8em;
    font-weight: 300;
    margin-left: 5px;
}